In [1]:
# Week 3: part 1 (#1-7) and part 2(start at number #8)
#Build a Toronto dataframe (postal code,neighborhood,borough name).
#Get the geographical coordinates of the neighborhoods.

In [24]:
#1.Import libraries
import requests
import urllib.request
from bs4 import BeautifulSoup
import numpy as np
from urllib.request import urlopen
import csv
import json
from geopy.geocoders import Nominatim
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium

In [3]:
#2. Scrap data from wikipedia to dataframe
#GET request & parse html to beautiful soup object
wiki_url ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(wiki_url).text
soup = BeautifulSoup(source,'lxml')

In [4]:
#create lists for table data
postalcodelist = []
boroughlist = []
neighborhoodlist =[]

In [5]:
#using BeautifulSoup find table rows
soup.find('table').find_all('tr')
row = soup.find('table').find_all('tr')

In [8]:
#4. replace cells which Borough not assigned
#   append the data into the respective lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        if(cells[1].text.replace('\n','') != 'Not assigned') : 
            postalcodelist.append(cells[0].text.replace('\n',''))
            boroughlist.append(cells[1].text.strip().replace('\n',''))
            neighborhoodlist.append(cells[2].text.replace('\n','').replace("/", ","))
data_df.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park , Harbourfront
3        M6A        North York             Lawrence Manor , Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [7]:
# create a new DataFrame from the three lists
data_df = pd.DataFrame({"PostalCode": postalcodelist,
                        "Borough": boroughlist,
                        "Neighborhood": neighborhoodlist})

In [15]:
# group neighborhoods in the same borough
data_df_group = data_df.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
data_df_group.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern , Rouge
1        M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2        M1E  Scarborough       Guildwood , Morningside , West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [16]:
#5. for Neighborhood="Not assigned", turn the value the same as Borough
for index, row in data_df_group.iterrows():
    if row["Neighborhood"] == "Not assigned":
       row["Neighborhood"] = row["Borough"]
data_df.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park , Harbourfront
3        M6A        North York             Lawrence Manor , Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [17]:
6.# Checking requirement fulfilled by creating a new test dataframe
column_names = ["PostalCode", "Borough", "Neighborhood"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(data_df_group[data_df_group["PostalCode"]==postcode], ignore_index=True)   
    
test_df

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Parkview Hill , Woodbine Gardens"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Wexford , Maryvale"
7,M9V,Etobicoke,"South Steeles , Silverstone , Humbergate , Jam..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower , King and Spadina , Railway Lands , ..."
10,M1B,Scarborough,"Malvern , Rouge"
11,M5A,Downtown Toronto,"Regent Park , Harbourfront"

In [18]:
#7.print rows numbers of cleaned dataframe
data_df_group.shape

(103, 3)

In [19]:
#8. Loading the coordinates csv file from coursera
coordinates = pd.read_csv("Geospatial_Coordinates.csv")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [20]:
# rename "PostalCode" column
coordinates.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
coordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [21]:
#9. Merging two tables to get coordinates on "Postalcode" column
data_df_new = data_df_group.merge(coordinates, on="PostalCode", how="left")
data_df_new.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [22]:
# 10. Checking requirement fulfilled by creating a new test dataframe
column_names = ["PostalCode", "Borough", "Neighborhood", "Latitude", "Longitude"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(data_df_new[data_df_new["PostalCode"]==postcode], ignore_index=True)
    
test_df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M4B,East York,"Parkview Hill , Woodbine Gardens",43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
4,M4G,East York,Leaside,43.709060,-79.363452
5,M4M,East Toronto,Studio District,43.659526,-79.340923
6,M1R,Scarborough,"Wexford , Maryvale",43.750072,-79.295849
7,M9V,Etobicoke,"South Steeles , Silverstone , Humbergate , Jam...",43.739416,-79.588437
8,M9L,North York,Humber Summit,43.756303,-79.565963
9,M5V,Downtown Toronto,"CN Tower , King and Spadina , Railway Lands , ...",43.628947,-79.394420
10,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
11,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636